.popup-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  font-size: 18px;
}

.popup-box button {
  margin-top: 15px;
  padding: 8px 20px;
  background: #007bff;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
